<section class="about scroll-reveal">

    <!--div class="about-grid">
        <div class="glass-card about-card main-text">
            <p>{{ 'ABOUT.P1' | translate }}</p>
            <p>{{ 'ABOUT.P2' | translate }}</p>
        </div>

        <div class="glass-card mission-card">
            <p>{{ 'ABOUT.MISSION_DESC' | translate }}</p>
        </div>
    </div-->
    <div class="cta">
        <a [routerLink]="['/home']" fragment="services" class="btn btn-primary">{{ 'HOME.HERO.CTA_SERVICES' | translate }}</a>
        <a [routerLink]="['/home']" fragment="contact" class="btn btn-outline">{{ 'HOME.HERO.CTA_CONTACT' | translate }}</a>
    </div>
</section>
