<footer class="footer">
    <div class="footer-content">
        <div class="footer-main">
            <p>&copy; 2026 <span class="text-gradient">BOCCONI COMMERCIO e METALMECCANICA SRL</span> - P. IVA 03429290731. {{ 'FOOTER.RIGHTS' | translate }}
            </p>
            <div class="footer-links">
                <a href="tel:+3761094228">3761094228</a>
                <a href="mailto:amministrazionebocconi.commet@ymail.com">amministrazionebocconi.commet&#64;ymail.com</a>
            </div>
        </div>

        <div class="footer-credits">
            <span class="credits-label">Realizzato da</span>

            <a href="https://hitechsrls.com/" target="_blank" class="credits-badge">
                <img ngSrc="assets/images/logoHitech.png" alt="HI-TECH logo" class="credits-img" height="1080"
                     width="1920">
                <!--<span class="hitech-text">HI-TECH</span-->
            </a>
        </div>
    </div>
</footer>
